<%- include('parts/meta') %>
<meta name="description" content="Fast, customizable, user friendly bot YOUR BOT!" />
<title>YOUR BOT | Commands</title>
</head>
<body>
<%- include('parts/head') %>

<center>
<h1 style="font-weight: bold; color: var(--font-color); font-size: 27px; padding: 25px 0 20px 0;"><span style="border-bottom: 2.5px solid var(--page-color);">YOUR BOT's Commands</span></h1>

<input type="text" id="searchCommands" onkeyup="searchCmd()" placeholder="Search command..." title="Type a command name">
</center>

<table id="cmdTable">
  <tr class="header">
    <th style="width:23%;">Command</th>
    <th style="width:68%;">Description</th>
	<th style="width:10%;">Category</th>
  </tr>
 <% cmd.forEach((x)=> { %>
  <tr>
    <td><%= x.command %></td>
    <td><%= x.description %></td>
	<td><%= x.category %></td>
  </tr>
	<% }) %>
</table>
<br><br><br><br><br>
<%- include('parts/footer') %>
</body>